<div>
    <Bar Mode="BarMode.VerticalInline"
         CollapseMode="BarCollapseMode.Hide"
         Breakpoint="Breakpoint.Desktop"
         ThemeContrast="ThemeContrast.Dark">
        <BarBrand/>
        <BarMenu>
            <BarStart>
                <BarItem>
                    <BarLink To="pageA">
                        <BarIcon IconName="IconName.User"/>
                        Page A
                    </BarLink>
                </BarItem>

                <BarItem>
                    <BarLink To="pageB">
                        <BarIcon IconName="IconName.User"/>
                        Page B
                    </BarLink>
                </BarItem>
            </BarStart>
        </BarMenu>
    </Bar>
</div>